*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
#div2{
    display: flex;
    width: 750px;
    height: 200px;
    margin-bottom: 20px;
    margin-left: 30px;
    border: 1px solid rgb(196, 183, 183);
}
#cartimage{
    width: 200px;
    height: 200px;
    border: 1px solid rgb(156, 151, 151);
    margin-right: 10px;
}
#carttitle{
    font-size: 20px;
    width: 500px;
    height:40px;
    justify-content: left;

}
#cartprice{
    font-size:24px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: red;
    margin-top:-1px;
}
#div3{
    margin-left: 10px;
}
#div4{
    width: 500px;
    display: flex;
    justify-content:space-around;
}
#dbtn{
    width: 30px;
    height: 30px;
    margin-top: 10px;
    margin-left: 36px;
    margin-left: -1px;
    font-size: 24px;
    border: 1px solid rgb(204, 200, 200);
}
#quantity{
    margin-left: -50px;
}
#ibtn{
    width: 30px;
    height: 30px;
    margin-top: 10px;
    margin-left: -50px;
    font-size: 24px;
    border: 1px solid rgb(204, 200, 200);
}
#remove{
    width: 80px;
    height: 30px;
    justify-content: end;
    border: none;
    background: white;
    color: red;
    font-size: 16px;
    border: 1px solid rgb(204, 200, 200);
    margin-top: 10px;
}
#div5{
    width: 800px;
    padding-left: 30px;
    margin: auto;
    margin-bottom: 20px;
    margin-left: 180px;
    border-left: 1px solid rgb(204, 200, 200);
}
 #maindiv{
   display: flex;
   width: 600px;
   display: grid;
   grid-template-columns: repeat(1, 1fr);
   margin-left: 50px;
} 
#coupon{
    width: 300px;
    height: 30px;
    padding-left: 10px;
    background: rgb(247, 25, 25);
    color: white;
    text-align:center;
    font-size: 20px;
    padding-top: 10px;
}
#pricedetails{
    border: 1px solid rgb(232, 223, 223);
    height: 30px;
    width: 300px;
    padding-top: 10px;
    padding-left: 10px;
}
#subtotal{
    width: 300px;
    height: 30px;
    border: 1px solid rgb(232, 223, 223);
    padding-top: 10px;
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
}
#dcharges{
    width: 300px;
    height: 30px;
    border: 1px solid rgb(232, 223, 223);
    padding-top: 10px;
    margin-top: 15px;
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
}
#youpay{
    width: 300px;
    height: 30px;
    border: 1px solid rgb(232, 223, 223);
    padding-top: 10px;
    margin-top: 15px;
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
}
#placeorder{
    width: 316px;
    height: 40px;
    border: 1px solid rgb(232, 223, 223);
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 20px;
    background:rgb(230, 9, 9);
    color: white;
}
#dchargesdiv{
    width: 50px;
    margin-right: 20px;
    color:rgb(131, 129, 129);
}
#subtotaldiv{
    width: 50px;
    margin-right: 20px;
    color:rgb(131, 129, 129);
}
#youpaydiv{
    width: 50px;
    margin-right: 20px;
    color:rgb(131, 129, 129);
}
#empty{
    border: 1px solid red;
}
#offer{
    margin-top: 15px;
    width: 300px;
    height: 30px;
    border: 1px solid rgb(232, 223, 223);
    padding-top: 10px;
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
}
#offerdiv{
    width: 50px;
    margin-right: 0px;
    color:rgb(131, 129, 129);
    font-size: 20px;
    align-items: center;
    text-align: center;
}
#divonemore{
    display: flex;
    justify-content:space-evenly;
    width: 300px;
    height: 40px;
    margin-top: 10px;
}
#cutoff{
    margin-top:1px;
    font-size: 16px;
    margin-right:50px;
    color:rgb(156, 151, 151);
    text-decoration:line-through;
}
#divdiv4{
    width: 200px;
    height: 60px;
    display: flex;
    justify-content: space-between;
}
#date{
    margin: auto;
    color: rgb(242, 56, 56);
    text-align: center;
    font-weight: bolder;
    margin-top: 30px;
}