/* footer */
footer {
    background: #000;
  }
  
  @media (min-width: 1160px) and (max-width: 1440px){
  .container {
      max-width: 1160px;
      width: 100%;
      margin: 0 auto;
  }
  }
  .container {
      max-width: 1440px;
      width: 100%;
      margin: 0 auto;
  }
  
  .footer {
    justify-content: space-between;
    padding: 50px;
  }
  
  .footer, .ourblog, .right-cont ul, footer .first-col ul {
    display: flex;
  }
  
  .footer h1 {
    font-size: 16px;
    font-weight: 700;
    color: #999;
    margin-bottom: 30px;
  }
  
  @media (min-width: 1160px) and (max-width: 1440px){
  footer .first-col ul {
      display: flex;
      margin-right: 25px;
  }
  }
  
  .first-col ul li, .sec-col ul li {
    list-style: none;
    color: #fff;
    font-size: 13px;
    font-weight: 400;
    line-height: 30px;
  }
  
  footer .sec-col ul {
    display: flex;
  }
  
  @media (min-width: 1160px) and (max-width: 1440px){
  footer .sec-col ul div:first-child {
      width: 100px;
  }
  }
  footer .sec-col ul div {
      flex-wrap: wrap;
  }
  
  .cartprice-quantity select, .copyright h1, .copyright h2, .footer h1, .footer1 h1, .heading-title, .order-title h3, .prdcttitle, .secondrow-box-bottom, .title, .titlewithsidebar h2 {
    text-transform: uppercase;
  }
  
  .copyright, .socialimg {
    display: flex;
    justify-content: space-between;
  }
  
  .socialimg img {
    margin-right: 30px;
  }
  
  .social-cont p {
    font-size: 13px;
    font-weight: 400;
    color: #fff;
    margin-top: 25px;
  }
  
  .social-cont h5 {
    font-size: 11px;
    font-weight: 400;
    color: gray;
    margin: 0 0 10px;
  }
  
  .social-cont p {
    font-size: 13px;
    font-weight: 400;
    color: #fff;
    margin-top: 25px;
  }
  
  .footer input[type=text] {
    border: 1px solid #fff;
    background: 0 0;
    display: inline-block;
    padding: 10px 15px;
    font-size: 11px;
    border-radius: 0;
    line-height: 12px;
    color: #fff;
  }
  
  .footer input[type=submit], .footer1 input[type=submit] {
    padding: 10px 15px;
    font-size: 11px;
    border-radius: 0;
    line-height: 12px;
    border: 1px solid #fff;
    color: #000;
    background: #fff;
    margin-left: -10px;
  }
  
  
  a.covid-delivery-tool-message-recheck {
    color: white;
    margin-top: 8px;
    display: block;
    font-size: 12px;
    text-decoration: underline;
  }
  
  .copyright-div {
    background: #1a1a1a;
  }
  
  @media (min-width: 1160px) and (max-width: 1440px){
  .container {
      max-width: 1160px;
      width: 100%;
      margin: 0 auto;
  }
  }
  
  .copyright {
    padding: 10px 50px;
  }
  .copyright, .socialimg {
    display: flex;
    justify-content: space-between;
  }
  
  .copyright h2 {
    font-size: 12px;
    font-weight: 400;
    color: #fff;
  }
  
  .copyright h1 {
    font-size: 14px;
    font-weight: 700;
    color: #fff;
  }