body{
    background:black
}
#mcontainer{
    margin: auto;
    width: 650px;
    height: 2000px;
    background: white;
}
#searchbar{
    display: flex;
    padding-bottom: 20px;
    justify-content:space-around;
    box-shadow: 0px 8px rgb(237, 234, 234);
}
#searchproduct{
    margin-top: 30px;
    width: 80%;
    height: 40px;
    border: none;
    margin-left: 20px;
    background:rgb(208, 207, 207);
    border-radius: 30px;
    outline: none;
}
#cross{
    margin-top: 30px;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    text-align: center;
    justify-content: center;
    background:rgb(208, 207, 207);
    margin-left: -40px;
    font-size: 24px;
    padding-top: 3px;
}
#browse{
    width: 100%;
    background:rgb(208, 207, 207);
    height: 38px;
    margin-top: -17px;
}
#bc{
    font-size:24px;
    margin-top: 10px;
    margin-left: 20px;
}
#sitems{
    width: 95%;
    height: 150px;
    margin: auto;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-gap: 10px;
}
#mdiv{
    width: 100px;
    border: 1px solid rgb(213, 210, 210);
    box-shadow: 3px 3px rgb(213, 210, 210);
    border-radius: 3px;
    position:relative;
    margin: auto;
}
@keyframes mymove {
    from{left:800px;}
    left{left:300px;}
}
#image{
    width: 80px;
    margin: auto;
    align-items:center;
}
#title{
    font-size: 10px;
    text-align: center;
}
#scrollingdivs{
    width: 92%;
    margin: auto;
background-image: url('https://images.beardo.in/eyJidWNrZXQiOiJiZWFyZG9jIiwia2V5IjoidXBsb2Fkcy9iZWFyZG8td2Vic2l0ZS1zZWFyY2gtcGFnZS1iYWNrZ3JvdW5kLTYwMHgzMDAtMS05MzUyLmpwZyIsImVkaXRzIjp7InJlc2l6ZSI6eyJ3aWR0aCI6NjAwLCJoZWlnaHQiOjEsImZpdCI6Im91dHNpZGUifX19');
display: flex;
justify-content:space-evenly;
overflow: hidden;
margin-bottom: 60px;


}

#tp{
    margin-top: 160px;
    margin-left: 20px;
    font-size:24px;
}
#minicontainer{
    margin-top: 10px;
    width:110px;
    height: 230px;
    margin-left: 10px;
    margin-bottom: 10px;
    background: rgb(200, 195, 195);
    position: relative;
    animation: mymove 5s infinite;

    
}
@keyframes mymove {
   from{left: 0px;}
   to{left: 150px;}
}
#pic{
    width: 110px;
}
#brand{
    font-size: 10px;
    font-style: normal;
    
    text-align: center;
}
#price{
    color: rgb(57, 50, 50);
    text-align: center;
}
#addtocart{
    width: 100%;
    height: 27px;
    margin-top: -20px;
    font-size: 12px;
    background: #313131;
    border: none;
    color: white;
}
#kichh{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}
#mycontainer{
    height: 400px;
    width: 200px;
    grid-template-columns: repeat(3, 1fr);
    background: white;
    border-radius: 3px;
    margin: auto;
}
#myimage{
    width: 100%;
    margin: auto;
}
#myname{
    font-size:14px;
    text-align: center;
}
#myprice{
    text-align: center;
    font-size: 20px;
    color: red;
}
#myaddtocart{
    margin-top: 21px;
    height: 40px;
    width: 100%;
    background: #313131;
    color: white;
    border: none;
    font-size: 16px;
    font-weight:bold
}
