#products{
    display: flex;
    background-color: rgba(0,0,0,.059);
    
}

#products>div>img:first-child{
    display: block;
    width:70px;
    height:40px;
    text-align: right;
    margin-left: 80%;
    position: relative;
    top:20px;
    right: 30px;
}
#products>div>img+img{
    width:100px;
    height:100px;
    display: block;
    margin: auto;
}
#products>div>div{
    display: flex;
    justify-content:space-around;
    margin: 20px;
}

Strike{
    font-weight:800;
    font-family: sans-serif;
    color: gray;
}
#products>div{
    width:30%;
    background-color:white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 10px;
    margin-top: 50px;
    margin-left: 20px;
}
#products button{
    background-color:red;
    color:white;
    width:100%;
    height:40px;
    border: none;
    font-weight: 800;
    margin-top: 20px;
    
    
}

/* switch styles */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  input:checked + .slider {
    background-color: green;
  }
  input:focus + .slider {
    box-shadow: 0 0 1px green;
  }
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  #summerycont{
      display: flex;
      width:100%;
      margin: auto;
      margin-left: 200px;
  }
  #right{
      width: 300px;
      padding:0 30px;
  }
  #right>div:first-child{
      display: flex;
      align-items: center;
      justify-content:space-between;
      box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
      padding: 0 20px;
      border-radius:5px;
  }
  #right>div>div{
      display:flex;
      align-items: center;
      justify-content:space-between;
    
  }
  h6{
      margin-left: 10px;
  }
  #coupon{
      display: flex;
      border:1px dotted gray;
      justify-content: space-between;
      height: 50px;
      margin-top:20px;
      width: 300px;
      align-items: center;
      padding: 5px;
  }
  #coupon img{
      width:50px;
      height:30px;
  }
  #coupon input{
      width:150px;
      height:40px;
      font-size: 20px;
      outline: none;
      border:none;
  }
  #coupon button{
      width:120px;
      height:40px;
      background-color:#c80504;
      color:white;
      font-weight:800;
      border:none;
      border-radius:15px;
  }

  #totalpay{
    border:1px solid gray;
    height: 300px;
    width: 270px;
    padding:20px;
    margin-top: 20px;

}
#totalpay>div{
  display:flex;
  justify-content: space-between;
}
#continue{
    width: 250px;
    height: 50px;
    margin:auto;
    display: block;
    background-color:#c80504;
    color: white;
    font-weight:900;
    border:none;
    border-radius:10px;
}
