*{
    box-sizing: border-box;
}
body, form, h1, h2, h5, p, ul {
    margin: 0;
    padding: 0;
}

.background-primary {
    background-color: #f1f1f1;
    padding: 60px 0;
}

.background-primary .newaccount {
    display: grid;
    background-color: #f1f1f1;
    font-family: "Montserrat",sans-serif;
    max-width: 920px;
    margin: 0 auto;
    grid-template-columns: 220px 1fr;
    grid-column-gap: 155px;
    align-items: start;
}

.background-primary .newaccount__head {
    box-shadow: 0px 3px 10px #c8050417;
    background-color: #fff;
    padding: 40px 0 20px 46px;
    grid-row: 1/3;
}

.background-primary .newaccount__head .title {
    margin-bottom: 45px;
    font-family: "Montserrat",sans-serif;
    font-size: 1.125rem;
    color: #c80504;
    text-transform: capitalize;
}

.heading-1, .cart-detail__title__main, .title {
    font-size: 1.5rem;
    line-height: 1.625rem;
    font-weight: 700;
}

input, select, textarea, button, a {
    outline: none;
    appearance: none;
    border-radius: 0;
    -webkit-appearance: none;
}

a {
    transition: all .5s ease;
    text-decoration: none;
}

.title {
    color: #070707;
    position: relative;
}

.background-primary .newaccount__head__links a:hover, .background-primary .newaccount__head__links a.newaccount__head__links__active {
    color: #c80504;
    transition: none;
    font-weight: 600;
    border-right: 2px solid #c80504;
}

.background-primary .newaccount__head__links a {
    display: flex;
    font-weight: 500;
    font-size: 1rem;
    font-family: "Montserrat",sans-serif;
    color: gray;
    letter-spacing: .01px;
    height: 32px;
    align-items: center;
    margin-bottom: 18px;
}
a, button, input[type=submit], input[type=button] {
    cursor: pointer;
}
p {
    margin: 0;
    text-align: left;
}

button, input {
    outline: 0;
    border: 0;
}

.background-primary .newaccount__profile {
    padding: 16px 32px;
    background-color: #fff;
    display: grid;
    grid-gap: 32px;
    margin-bottom: 25px;
    grid-column: 2;
}


.title-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.background-primary .newaccount__profile .title-row p {
    color: #c80504;
    font-size: 0.75rem;
    font-weight: 700;
}

.background-primary .newaccount .btn-design.border-btn {
    border: 1px solid #c80504;
    background: #fff;
    color: #c80504;
}

.background-primary .newaccount .btn-design {
    background: #c80504;
    font-size: 8px;
    text-transform: uppercase;
    font-weight: 500;
    width: 88px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #c80504;
}

.btn-design {
    font-size: 17px;
    display: inline-grid;
    place-items: center;
    border: none;
    -webkit-appearance: none;
    border-radius: 0;
    background: transparent linear-gradient(180deg, #FF0000 0%, #800000 100%);
    color: #fff;
    transition: .4s ease-in-out;
}

.background-primary .newaccount .btn-design.border-btn:hover {
    background-color: #c80504;
    color: #fff;
}

.background-primary .newaccount .btn-design:hover {
    background-color: #fff;
    color: #c80504;
}

.background-primary .newaccount__profile__detail {
    display: grid;
    grid-gap: 10px;
}


.background-primary .newaccount__profile__detail__row {
    display: grid;
    grid-template-columns: 130px 1fr;
    grid-gap: 20px;
}

.background-primary .newaccount__profile__detail__row__label {
    font-size: 14px;
    color: #c80504;
    letter-spacing: .5px;
    line-height: 18px;
}

.background-primary .newaccount__address {
    padding: 16px 32px;
    background-color: #fff;
    display: grid;
    grid-gap: 20px;
    margin-top: 25px;
    grid-column: 2;
}

.title-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.background-primary .newaccount__address .title-row p {
    color: #c80504;
    font-size: 0.75rem;
    font-weight: 700;
}


.background-primary .newaccount__foot {
    padding: 30px 0;
    text-align: center;
    grid-column: 2;
}

.background-primary .newaccount__foot a {
    color: #c80504;
    font-size: 0.875rem;
    font-weight: 500;
    width: 200px;
    height: 40px;
    border: 1px solid #c80504;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}







/* pop up */

.popup-main.popup-main--show {
    z-index: 99999;
    opacity: 1;
}
.popup-main {
    position: fixed;
    left: 0;
    background-color: rgba(0,0,0,.5);
    z-index: -1;
    opacity: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}


.order-popup__main {
    padding: 0;
    font-family: "Montserrat",sans-serif;
    /* border:red solid; */
}
.popup-main__cont {
    border-radius: 10px;
    background-color: #fff;
    max-width: 400px;
    width: 50%;
    text-align: center;
    position: relative;
}

.order-popup__main__head {
    background-color: #c80504;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 30px;
    border-radius: 10px 10px 0 0;
}

.order-popup__main__head p {
    color: #fff;
    font-size: 14px;
    color: #fff;
    font-weight: 700;
}

.order-popup__main__head__close {
    width: 64px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #fff;
    font-size: 10px;
    font-weight: 700;
    color: #fff;
    font-family: "Montserrat",sans-serif;
}

.order-popup__main__body {
    padding: 30px;
    text-align: left;
    max-height: 80vh;
    overflow-y: auto;
}

.order-popup .address-detail__order-shopping-detail__form {
    padding: 0;
}


.order-popup__main__body .form__row {
    grid-template-columns: 1fr;
    grid-auto-flow: row;
    grid-row-gap: 16px;
    margin-bottom: 16px;
}


.form__row {
    display: grid;
    grid-column-gap: 24px;
    grid-auto-flow: column;
    margin-bottom: 24px;
    grid-template-columns: 1fr 1fr;
}


.form__row .double-col {
    display: grid;
    grid-column-gap: 24px;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr;
}



.form__row__input input, .form__row__input select {
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid #070707;
    padding-bottom: 9px;
    font-size: 14px;
    font-weight: 500;
}

.order-popup__main__body .form__row__input__fixed-value {
    font-size: 8px;
    color: #07070766;
    font-weight: 500;
    font-style: italic;
    text-transform: capitalize;
    margin-top: 3px;
    display: block;
}

.order-popup.editProfile .oldaddress-detail__row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
}
.order-popup__main__body .oldaddress-detail__row {
    padding: 0;
    box-shadow: none;
    margin-bottom: 40px;
}
.oldaddress-detail__row {
    box-shadow: 2px 2px 2px #0000000f;
    position: relative;
    padding: 16px;
}

.order-popup.editProfile .oldaddress-detail__row .address-radio {
    margin-bottom: 0;
}


oldaddress-detail__row .address-radio [type=radio]:checked, .oldaddress-detail__row .address-radio [type=radio]:not(:checked) {
    position: absolute;
    left: -9999px;
}



input:not([type="image" i]) {
    box-sizing: border-box;
}
user agent stylesheet
input[type="radio" i] {
    background-color: initial;
    cursor: default;
    appearance: auto;
    box-sizing: border-box;
    margin: 3px 3px 0px 5px;
    padding: initial;
    border: initial;
}

.order-popup .address-radio [type=radio]:checked+label, .order-popup .address-radio [type=radio]:not(:checked)+label {
    line-height: 24px;
}

.oldaddress-detail__row .address-radio [type=radio]:checked+label, .oldaddress-detail__row .address-radio [type=radio]:not(:checked)+label {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
.order-popup__main__body .oldaddress-detail__row .address-radio label {
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 500;
    color: #070707 !important;
}


.oldaddress-detail__row .address-radio [type=radio]:checked+label:before, .oldaddress-detail__row .address-radio [type=radio]:not(:checked)+label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #c80504;
    border-radius: 100%;
    background: #fff;
}


.oldaddress-detail__row .address-radio [type=radio]:not(:checked)+label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}


.oldaddress-detail__row .address-radio [type=radio]:checked+label:after, .oldaddress-detail__row .address-radio [type=radio]:not(:checked)+label:after {
    content: "";
    width: 12px;
    height: 12px;
    background: #c80504;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}



.order-popup__main__body .btn-design {
    background: #c80504;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: .6px;
    text-transform: uppercase;
    font-family: "Montserrat",sans-serif;
    border: 1px solid #c80504;
    width: 100%;
    margin-top: 20px;
    margin-left:15px;
}

.popup-main__cont .btn-design {
    width: 90%;
    height: 40px;
    font-weight: 500;
}


.order-popup__main__body .btn-design:hover {
    background-color: #fff;
    color: #c80504;
}


.form__row__input .custom-choose {
    display: flex;
    justify-content: normal;
    align-items: center;
}

.form__row__input .custom-choose input[type=radio] {
    display: none;
}

.form__row__input .custom-choose input[type=radio]:not(checked)+label:nth-child(2), .form__row__input .custom-choose input[type=radio]:checked+label:nth-child(2) {
    border-radius: 5px 0 0 5px;
    border-right: none;
}
.form__row__input .custom-choose input[type=radio]+label, .form__row__input .custom-choose input[type=radio]:not(checked)+label {
    padding: 8px 34px;
    border: solid 1px #c80504;
    text-align: center;
    font-size: 14px;
    transition: .4s;
    color: #5b5b5b;
    font-weight: 500;
}
.form__row__input label {
    display: block;
    margin-bottom: 8px;
    color: rgba(23,23,23,.6);
    color: #c80504;
    font-size: 14px;
}


.form__row__input .custom-choose input[type=radio]:not(checked)+label:last-child, .form__row__input .custom-choose input[type=radio]:checked+label:last-child {
    border-radius: 0px 5px 5px 0px;
    border-left: none;
}

.form__row__input .custom-choose input[type=radio]:checked+label {
    position: relative;
    border: solid 1px #c80504;
    background: #c80504;
    color: #fff;
    transition: .4s;
}


.newaccount__order {
    background-color: #f1f1f1;
}

.background-primary .newaccount__order__status {
    padding: 0 24px 24px;
}

.background-primary .newaccount__order__status__link:hover, .background-primary .newaccount__order__status__link.show {
    background-color: rgba(200,5,4,.161);
    font-weight: 700;
}
.background-primary .newaccount__order__status__link {
    background-color: transparent;
    border-radius: 5px;
    color: #c80504;
    font-size: 12px;
    padding: 10px 18px;
    font-weight: 500;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
}


.background-primary .newaccount__order__status__link {
    background-color: transparent;
    border-radius: 5px;
    color: #c80504;
    font-size: 12px;
    padding: 10px 18px;
    font-weight: 500;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
}

.background-primary .newaccount__order__status__link:last-child {
    margin-right: 0;
}
.background-primary .newaccount__order__status__link {
    background-color: transparent;
    border-radius: 5px;
    color: #c80504;
    font-size: 12px;
    padding: 10px 18px;
    font-weight: 500;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
}


.background-primary .newaccount__wallet {
    padding: 30px 16px;
}

.background-primary .newaccount__wallet__head {
    display: grid;
    grid-template-columns: auto 1fr;
    padding: 8px 16px;
    border: 1px solid #0000000F;
    grid-gap: 26px;
    margin-bottom: 24px;
    align-items: center;
    background-color: #fff;
}

img {
    max-width: 100%;
    height: auto;
}

.background-primary .newaccount__wallet__head__right__amount {
    color: #229526;
    font-size: 1.625rem;
    font-weight: 700;
}


.background-primary .newaccount__wallet__head__right p {
    color: #07070766;
    font-size: 0.625rem;
}

.background-primary .newaccount__wallet__detail ul:nth-child(odd) {
    background-color: #C805041A;
}

.background-primary .newaccount__wallet__detail ul {
    background-color: #fff;
    display: grid;
    grid-template-columns: 1fr 20% 20%;
    grid-column-gap: 10px;
    padding: 10px 10px;
}

ul, nav {
    list-style: none;
    padding: 0;
}


.oldaddress-detail__row input {
    display: none;
}