body {
    background-color: black;
    margin: 0 25%;
}

.center {
    margin: auto;
    justify-content: center;
}

.flex {
    display: flex;
    justify-content: space-between;
    /* margin: 2% 20%; */
}

img {
    height: 300px;
    width: 100%;
}