body {
    background-color: black;
}

.center {
    margin: auto;
    justify-content: center;
}

.flex {
    display: flex;
    justify-content: space-between;
    margin: 10px 25%;
}

.img-5-5 {
    height: 500px;
    width: 500px;
}

#mcontainer {
    width: 700px;
    margin: auto;
    border: 1px rgb(165, 29, 29);
    margin-top: 5%;
}

#main_image_div {
    width: 100%;
    height: 500px;
}


/* discount div start */

#discount_div {
    height: 300px;
    /* display: flex;
    flex-direction: row;
    justify-content: space-around; */
    border: 1px solid blue;
    margin-bottom: 2%;
    position: relative;
    text-align: center;
    color: white;
}

#discount_display_div {
    position: absolute;
    bottom: 70%;
    background: transparent;
    background: rgba(0, 0, 0, 0.5);
    /* Black background with 0.5 opacity */
    /* color: #f1f1f1; */
    width: 100%;
    padding: 20px;
    /* border: 1px solid blue; */
}

.dis_div_top_left {
    position: absolute;
    bottom: 5%;
    top: 0%;
    left: 5%;
    width: 25%;
}

.dis_div_centered {
    position: absolute;
    top: 230%;
    /* bottom: 10%; */
    left: 45%;
    transform: translate(-50%, -50%);
    width: 25%;
}

.dis_div_top_right {
    position: absolute;
    top: 20%;
    left: 60%;
    width: 25%;
}


/* topsellers start */

.prodcontainer {
    background-color: rgb(41, 39, 39);
    /* width:500px; */
    height: fit-content;
    border: 1px solid red;
    display: grid;
    grid-template-columns: repeat(2, 48%);
    gap: 2%;
    justify-content: space-evenly;
    padding-bottom: 2%;
    padding-top: 2%;
}

.pdiv {
    border: 1px solid rgb(221, 124, 14);
    border-radius: 10px;
    height: 400px;
    background-color: white;
    padding: 2%;
    margin-bottom: 2%;
}

.main {
    width: 80%;
    display: inline-block;
    /* border: 1px solid crimson; */
}

.disc {
    /* width: 0px; */
    width: 15%;
    display: inline-block;
    vertical-align: top;
    /* border: 1px solid red; */
}

.mi {
    width: 100%;
    height: 90%;
}

.di {
    width: 100%;
}

.name {
    color: rgb(66, 64, 64);
    text-align: center;
}

.cp {
    line-height: 0px;
    text-decoration: line-through;
    text-decoration-color: red;
    width: 50%;
}

.mp {
    width: 50%;
    font-weight: bold;
}

.cartButton {
    width: 100%;
    height: 10%;
    background-color: rgb(66, 64, 64);
    color: white;
    font-weight: bolder;
    font-size: 10px;
    border-bottom: 1px solid gray;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

span {
    padding-left: 15%;
    padding-bottom: 4%;
}

.ndiv {
    height: 20%;
    border: 1px solid white;
}

h1 {
    color: white;
    font-size: 100%;
    font-weight: bold;
    padding-left: 5%;
}


/* topseller ends */


/* normal div */

#navbarslider {
    height: 30px;
    border: 1px solid white;
    margin-bottom: 2%;
}

#slide1 {
    height: 250px;
    border: 1px solid red;
}

#prizes {
    /* height: 250px; */
    border: 1px solid blue;
    padding-bottom: 10%;
}


/* Container holding the image and the text */

.prizecontainer {
    position: relative;
    text-align: center;
    color: white;
}


/* Centered text */

.top-right1 {
    position: absolute;
    top: 8px;
    left: 20px;
    font-size: 30px;
    padding-left: 25%;
}

.top-right2 {
    position: absolute;
    top: 32px;
    left: 20px;
    padding-left: 35%;
    margin-top: 2%;
    font-size: 12px;
    /* font-weight: lighter; */
}

.productSlider {
    height: 250px;
    border: 1px solid red;
    margin-bottom: 2%;
}


/* hotseller  */

#hotSeller_container {
    /* width:500px; */
    height: fit-content;
    border: 1px solid red;
    display: grid;
    grid-template-columns: repeat(2, 48%);
    gap: 2%;
    justify-content: space-around;
    padding-bottom: 5%;
}


/* starter */

.starter_containers {
    /* width:500px; */
    height: fit-content;
    border: 1px solid red;
    display: grid;
    grid-template-columns: repeat(2, 48%);
    gap: 2%;
    justify-content: space-around;
    padding-bottom: 5%;
}


/* most wanted combo start */

#combo_container {
    height: fit-content;
}

#comboProduct {
    height: 200px;
    background-color: rgb(30, 49, 8);
    border: 4px solid rgb(89, 104, 50);
    border-radius: 5%;
    display: flex;
    gap: 5%;
    /* justify-content: space-around; */
    padding: 2%;
    margin-bottom: 2%;
}

#combo_img {
    width: 30%;
    height: 95%;
}

#combo_data {
    height: 130%;
    width: 60%;
    box-sizing: border-box;
}

#comboImg {
    border-radius: 5%;
    width: 100%;
    height: 100%;
}

#combo_name {
    height: 30%;
    padding: 2%;
    text-align: center;
    font-size: large;
    color: sienna;
    margin-bottom: 0%;
}

#comboOther {
    height: 35%;
    padding-top: 3%;
}

#combo_dis_div {
    width: 15%;
    display: inline-block;
}

#combo_dis {
    width: 100%;
}

#combo_price_cart {
    width: 60%;
    padding-left: 20%;
    display: inline-block;
    vertical-align: top;
}

.combo_cp {
    line-height: 0px;
    text-decoration: line-through;
    text-decoration-color: red;
    width: 50%;
    color: sienna;
    padding-left: 30%;
    padding-right: 5%;
}

.combo_mp {
    width: 50%;
    font-weight: bold;
    color: sienna;
    font-size: x-large;
}

.comboCartButton {
    background-color: red;
    width: 100%;
    color: white;
    font-size: large;
    font-weight: bold;
    padding: 2%;
    border: transparent;
}


/* single images */

.singleImg {
    width: 100%;
    margin-bottom: 2%;
}

#prodcontainer2 {
    /* width:500px; */
    height: fit-content;
    border: 1px solid red;
    display: grid;
    grid-template-columns: repeat(2, 48%);
    gap: 2%;
    justify-content: space-around;
    padding-bottom: 2%;
}

#prodcontainer3,
#prodcontainer4,
#prodcontainer5,
#prodcontainer6 {
    /* width:500px; */
    height: fit-content;
    border: 1px solid red;
    display: grid;
    grid-template-columns: repeat(2, 48%);
    gap: 2%;
    justify-content: space-around;
    padding-bottom: 2%;
}


/* view button */

.viewButton {
    background-color: transparent;
    border: none;
    width: fit-content;
    text-decoration: underline;
    font-size: large;
    font-weight: bold;
    padding-left: 40%;
    color: rgb(230, 104, 14)
}


/* slider */